<template>
  <div class="landing-page-container">
    <div class="landing-page-top-container">
      <nav data-role="Header" class="landing-page-navbar">
        <h1>Marketplace</h1>
      </nav>
      <img
        alt="image"
        src="/static/static/topimg.png"
        class="landing-page-image"
      />
    </div>
    <AddDetails v-if="openeddetails"></AddDetails>
    <div id="main-section" class="landing-page-main">
      <div class="landing-page-container1">
        <h1 class="landing-page-text">Выберите нужную категорию из списка:</h1>
        <select @change="onChange" class="landing-page-select">
          <option value="1" selected>Все эталоны</option>
          <option value="2">Все товары</option>
          <option value="Opt3">Мои товары</option>
        </select>
      </div>
      <h1>Списки товаров на момент обновления</h1>
      <span class="landing-page-text2">Обновлено: ****</span>
      <div class="landing-page-cards-container">
        <plus-butt v-on:click.native="changeVisibleAdd" rootClassName="plus-butt-root-class-name"></plus-butt>
        <div v-on:click.native="changeVisible(index)" v-for="(item, index) in items" :key="index" :name="item.name" :company="item.org" :description="item.desc" :is="item.component"></div>
      </div>
    </div>
    <div class="landing-page-footer"></div>
    <div id="popup1" class="overlay" v-if="isVisible">
      <ProductDetails class="popup" :prodname="items[currentProduct].name" :prodorg="items[currentProduct].org" :proddesc="items[currentProduct].desc"></ProductDetails>
    </div>
    <div id="popup2" class="overlay" v-if="isVisibleAdd">
      <ProductDetailsAdd class="popup"></ProductDetailsAdd>
    </div>
  </div>
</template>

<script>
import PlusButt from '../components/plus-butt'
import PlaceCard from '../components/place-card'
import Overlay from 'vuejs-overlay';
import AddDetail from '../components/add-details'
const axios = require('axios').default;
import AddDetails from '../components/add-details'
import ProductDetails from '../components/product-details'
import ProductDetailsAdd from '../components/product-detailsadd'

export default {
  name: 'LandingPage',
  components: {
    PlusButt,
    PlaceCard,
    AddDetails,
    ProductDetails,
    ProductDetailsAdd
},
  metaInfo: {
    title: 'Marketplace',
    meta: [
      {
        property: 'og:title',
        content: 'Marketplace',
      },
    ],
  },
  data() {
    return {
      openeddetails: false,
      isVisible: false,
      isVisibleAdd: false,
      currentProduct: 0,
      items: [
        {'component':'place-card', 'name':'Notebook'},
        {'component':'place-card', 'name':'Mobile'},
        {'component':'place-card', 'name':'Test'}
      ]
    }
  },
  methods: {
        onChange(event) {
            axios.get("/dbmarket/")
              .then(response => {
                const itemarr = JSON.parse(response.data);
                this.items = []
                itemarr.forEach((element, index) => {
                const localitem = {}
                localitem.component = 'place-card'
                localitem.name = element.fields.product_name
                localitem.org = element.fields.product_org
                localitem.desc = element.fields.product_desc
                this.items[index] = localitem
                console.log(this.items[index])})
              })
              .catch(error => {
                alert(error)
            })
        },
        changeOnDetails() {
          this.openeddetails = true
        },
        changeVisible(elem) {
          this.isVisible = !this.isVisible
          if (this.isVisible){
            this.currentProduct = elem
          }
        },
        changeVisibleAdd() {
          this.isVisibleAdd = !this.isVisibleAdd
        }
  },
  created() {
            this.$root.$on('openeddetail', () =>
              this.changeOnDetails()
            )
            this.$root.$on('changevisibility', () =>
              this.changeVisible()
            )
            this.$root.$on('changevisibilityadd', () =>
              this.changeVisibleAdd()
            )
            this.$root.$on('update', () =>
              this.onChange()
            )

            this.onChange()

        }
}
</script>

<style scoped>
.landing-page-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.landing-page-top-container {
  width: 100%;
  height: 515px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.landing-page-navbar {
  width: 1082px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  opacity: 1;
  z-index: 2;
}
.popup {
  margin: 70px auto;
  padding: 0;
  position: relative;
  transition: all 5s ease-in-out;
}
.landing-page-image {
  flex: 0;
  left: 0px;
  right: 0px;
  width: 1024px;
  bottom: -56px;
  height: 507px;
  margin: auto;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
.landing-page-main {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-quadruple);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-quadruple);
  justify-content: flex-start;
}
.landing-page-container1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 43px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.landing-page-text {
  margin-bottom: 4px;
}
.landing-page-select {
  width: 372px;
  height: 75%;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
}
.landing-page-text2 {
  color: var(--dl-color-gray-500);
}
.landing-page-cards-container {
  width: 100%;
  display: flex;
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: flex-start;
}
.landing-page-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
@media(max-width: 991px) {
  .landing-page-cards-container {
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .landing-page-main {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
</style>
