<template>
  <div class="login-container">
    <header data-role="Accordion" class="login-header">
      <img
        alt="logo"
        src="/static/playground_assets/logomarket-200h.png"
        class="login-image"
      />
      <div class="login-separator"></div>
    </header>
    <h1 class="login-text">Вход и регистрация</h1>
    <div class="login-container1">
      <div class="login-separator1"></div>
      <div class="login-container2">
        <input type="text" placeholder="login" class="login-input input" />
        <input
          type="text"
          placeholder="password"
          class="login-textinput input"
        />
        <button v-on:click="logIn" class="login-button button">Войти или зарегистрироваться</button>
      </div>
      <div class="login-separator2"></div>
    </div>
    <div class="login-container3">
      <div class="login-separator3"></div>
      <span class="login-text1">© 2022 Marketplace, All Rights Reserved.</span>
    </div>
  </div>
</template>

<script>
const axios = require('axios').default;

export default {
  name: 'Login',
  metaInfo: {
    title: 'Login',
    meta: [
      {
        property: 'og:title',
        content: 'Login',
      },
    ],
  },
  data() {
    return {
      login: "default",
      password: "default"
    }
  },
  methods: {
    logIn() {
      axios.post("/login/", {
                  login: this.login, password: this.password, email: 'test@example.com'
              })
              .then(response => {
                this.$router.push('/market') 
              })
              .catch(error => {
                alert(error)
            })
    }
  }
}
</script>

<style scoped>
.login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.login-header {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 32px;
}
.login-image {
  width: 143px;
  height: 86px;
}
.login-separator {
  width: 100%;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: var(--dl-color-gray-900);
}
.login-text {
  font-style: italic;
  margin-top: -50px;
  font-family: Poppins;
  font-weight: 900;
}
.login-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-separator1 {
  width: 3px;
  height: 100%;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-gray-900);
}
.login-container2 {
  flex: 0 0 auto;
  width: 300px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.login-input {
  margin-top: var(--dl-space-space-halfunit);
}
.login-textinput {
  margin-top: var(--dl-space-space-halfunit);
}
.login-button {
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-gray-white);
}
.login-separator2 {
  width: 3px;
  height: 100%;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-gray-900);
}
.login-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
}
.login-separator3 {
  width: 100%;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: var(--dl-color-gray-900);
}
@media(max-width: 767px) {
  .login-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .login-separator {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .login-separator1 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .login-separator2 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .login-separator3 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .login-text1 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .login-header {
    padding: var(--dl-space-space-unit);
  }
  .login-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .login-separator1 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .login-separator2 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .login-separator3 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .login-text1 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
</style>
