<template>
  <div class="add-details-container">
    <h1 class="add-details-text">{{ heading }}</h1>
    <div class="add-details-container1">
      <div class="add-details-container2">
        <span class="add-details-text1">{{ text }}</span>
        <input
          type="text"
          :placeholder="textinput_placeholder"
          class="add-details-textinput input"
        />
      </div>
      <div class="add-details-container3">
        <span class="add-details-text2">{{ text1 }}</span>
        <input
          type="text"
          :placeholder="textinput_placeholder1"
          class="add-details-textinput1 input"
        />
      </div>
      <div class="add-details-container4">
        <span class="add-details-text3">{{ text11 }}</span>
        <textarea
          :placeholder="textarea_placeholder"
          class="add-details-textarea textarea"
        ></textarea>
      </div>
    </div>
    <h1 class="add-details-text4">{{ heading1 }}</h1>
    <ul class="add-details-ul list">
      <li class="list-item">
        <app-property rootClassName="property-root-class-name"></app-property>
      </li>
    </ul>
    <div class="add-details-container5">
      <button @click="onClick" class="add-details-button button">{{ button }}</button>
      <button class="add-details-button1 button">{{ button1 }}</button>
    </div>
  </div>
</template>

<script>
import AppProperty from './property'
const axios = require('axios').default;

export default {
  name: 'AddDetails',
  props: {
    textarea_placeholder: {
      type: String,
      default: 'desc',
    },
    text11: {
      type: String,
      default: 'Описание товара:',
    },
    text1: {
      type: String,
      default: 'Название товара:',
    },
    textinput_placeholder: {
      type: String,
      default: 'imageurl',
    },
    heading: {
      type: String,
      default: 'Добавление и изменение',
    },
    textinput_placeholder1: {
      type: String,
      default: 'name',
    },
    text: {
      type: String,
      default: 'Превью-изображение товара: (ссылка)',
    },
    heading1: {
      type: String,
      default: 'Характеристики',
    },
    button: {
      type: String,
      default: 'Сохранить',
    },
    button1: {
      type: String,
      default: 'Удалить',
    },
  },
  components: {
    AppProperty,
  },
  methods: {
        onClick(event) {
            axios.post("http://localhost:8000/dbmarket/" ,{
                prodname: 'Fred',
                prodorg: 'Flintstone',
                proddesc: 'Testin'
              })
              .then(response => {
              })
              .catch(error => {
                alert(error)
            })
        }
  }
}

</script>

<style scoped>
.add-details-container {
  width: 50%;
  height: 700px;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: #f5f1f1;
}
.add-details-text {
  align-self: center;
}
.add-details-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.add-details-container2 {
  flex: 0 0 auto;
  width: 75%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.add-details-text1 {
  width: 100%;
  font-size: 20px;
}
.add-details-textinput {
  width: 100%;
}
.add-details-container3 {
  flex: 0 0 auto;
  width: 75%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.add-details-text2 {
  width: 100%;
  font-size: 20px;
}
.add-details-textinput1 {
  width: 100%;
}
.add-details-container4 {
  flex: 0 0 auto;
  width: 75%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.add-details-text3 {
  font-size: 20px;
}
.add-details-textarea {
  width: 100%;
  padding-left: 11px;
}
.add-details-text4 {
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
}
.add-details-ul {
  width: 75%;
  margin: 0px;
  padding: 0px;
  align-self: center;
}
.add-details-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.add-details-button {
  align-self: center;
  margin-right: var(--dl-space-space-halfunit);
  background-color: #70fb49;
}
.add-details-button1 {
  align-self: center;
  margin-left: var(--dl-space-space-halfunit);
  background-color: #ff0101;
}
</style>
