<template>
  <div class="detail-slot-container" v-bind:class="rootClassName">
    <div class="detail-slot-container1">
      <span class="detail-slot-text">{{ detailname }}</span>
      <span class="detail-slot-text1">
        <span>{{ detailvalue }}</span>
        <br />
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DetailSlot',
  props: {
    detailname: {
      type: String,
      default: 'Цвет:\n',
    },
    detailvalue: {
      type: String,
      default: 'Желтый',
    },
    rootClassName: String,
  },
}
</script>

<style scoped>
.detail-slot-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.detail-slot-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.detail-slot-text {
  font-style: normal;
  font-family: Roboto;
  font-weight: 500;
}
.detail-slot-text1 {
  font-family: Roboto;
  padding-left: 10px;
}

</style>
