<template>
  <div class="place-card-container">
    <img :alt="image_alt" :src="image" class="place-card-image" />
    <div class="place-card-container1">
      <span class="place-card-text">{{ name }}</span>
      <span class="place-card-text1">{{ company }}</span>
      <span class="place-card-text2">{{ description }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PlaceCard',
  props: {
    image: {
      type: String,
      default:
        '/static/static/preview.jpg',
    },
    company: {
      type: String,
      default: 'Xiaomi Inc.',
    },
    image_alt: {
      type: String,
      default: 'image',
    },
    name: {
      type: String,
      default: 'Name',
    },
    description: {
      type: String,
      default: 'Description',
    },
  },
}
</script>

<style scoped>
.place-card-container {
  width: 300px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: #ffffff;
}
.place-card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.place-card-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.place-card-text {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
}
.place-card-text1 {
  font-size: 12px;
  align-self: flex-start;
  margin-top: -5px;
}
.place-card-text2 {
  font-size: 16px;
  max-width: 250px;
  align-self: flex-start;
  padding-bottom: var(--dl-space-space-unit);
}
@media(max-width: 767px) {
  .place-card-container {
    width: 200px;
  }
}
@media(max-width: 479px) {
  .place-card-container {
    width: 300px;
  }
}
</style>
