<template>
  <div class="product-details-container">
    <div class="product-details-container1">
      <button v-on:click="changeVisible" class="plus-butt-button">
      <svg viewBox="0 0 1024 1024" class="product-details-icon button">
        <path
          d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
        ></path>
      </svg>
      </button>
      <h1 class="product-details-text">
        <input v-model="prodname" placeholder="Product name" />
        <br />
      </h1>
      <div class="product-details-separator"></div>
      <div class="product-details-container2">
        <img :src="prodimg" :alt="image_alt" class="product-details-image" />
      </div>
      <input v-model="prodimg" placeholder="Image url" />
      <div class="product-details-separator1"></div>
      <span class="product-details-text03">
        <input v-model="prodorg" placeholder="Product org" />
        <br />
      </span>
      <span class="product-details-text06">
        <textarea v-model="proddesc" placeholder="Product description"></textarea>
        <br />
        <br />
      </span>
      <div class="product-details-separator2"></div>
      <h1 class="product-details-text10">
        <span>{{ text3 }}</span>
        <br />
      </h1>
      <ul class="product-details-ul list">
        <li class="product-details-li list-item">
          <detail-slot rootClassName="detail-slot-root-class-name"></detail-slot>
        </li>
      </ul>
      <div>
        <button @click="onClick" class="add-details-button button">Добавить</button>
      </div>
    </div>
  </div>
</template>

<script>
import DetailSlot from './detail-slot'
const axios = require('axios').default;

export default {
  name: 'ProductDetailsAdd',
  props: {
    isVisible: true,
    prodname: {
      type: String,
      default: 'Название товара',
    },
    prodimg: {
      type: String,
      default:
        'https://droider.ru/wp-content/uploads/2021/03/anons_xiaomi_mi_notebook_pro_14_i_pro_15_premium_noutbuki_v_metalle_picture2_0.jpg',
    },
    image_alt: {
      type: String,
      default: 'image',
    },
    prodorg: {
      type: String,
      default: 'Xiaomi Inc.',
    },
    proddesc: {
      type: String,
      default: 'Description',
    },
    text3: {
      type: String,
      default: 'Характеристики',
    },
  },
  components: {
    DetailSlot,
  },
  methods: {
    changeVisible() {
      this.$root.$emit('changevisibilityadd')
    },
    onClick(event) {
            axios.post("/dbmarket/" ,{
                prodname: this.prodname,
                prodorg: this.prodorg,
                proddesc: this.proddesc
              })
              .then(response => {
                this.$root.$emit('changevisibilityadd')
                this.$root.$emit('update')
              })
              .catch(error => {
                alert(error)
            })
        }
  }
}
</script>

<style scoped>
.product-details-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.product-details-container1 {
  flex: 1;
  width: 450px;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-color: #ffffff;
}
.product-details-icon {
  width: 24px;
  height: 24px;
  align-self: flex-end;
}
.product-details-text {
  align-self: center;
  font-style: normal;
  font-family: Roboto;
  font-weight: 900;
}
.plus-butt-button {
  width: 24px;
  height: 24px;
  display: flex;
  padding: 0px;
  position: relative;
  flex-direction: row;
  align-self: flex-end;
  background-color: rgba(255, 255, 255, 0);
  z-index:1;
}
.product-details-separator {
  width: 50%;
  height: 2px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0em;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 10px;
  background-color: var(--dl-color-gray-900);
}
.product-details-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.product-details-image {
  width: auto;
  height: 329px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.product-details-separator1 {
  width: 50%;
  height: 2px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0em;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 10px;
  background-color: var(--dl-color-gray-900);
}
.product-details-text03 {
  align-self: center;
  font-style: normal;
  font-weight: 500;
  padding-top: 0.1em;
  padding-left: 0em;
}
.product-details-text06 {
  align-self: center;
  padding-left: 0em;
}
.product-details-separator2 {
  width: 50%;
  height: 2px;
  align-self: center;
  margin-top: 10px;
  margin-left: 0em;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 10px;
  background-color: var(--dl-color-gray-900);
}
.product-details-text10 {
  align-self: center;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500;
}
.add-details-button {
  align-self: center;
  margin-right: var(--dl-space-space-halfunit);
  background-color: #51e727;
  border-radius: 8;
}
.product-details-ul {
  width: 100%;
  align-self: center;
  padding-right: 1.5rem;
}
.product-details-li {
  list-style-type: square;
  list-style-image: none;
  list-style-position: outside;
}
@media(max-width: 767px) {
  .product-details-separator {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .product-details-separator1 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .product-details-separator2 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
@media(max-width: 479px) {
  .product-details-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .product-details-separator1 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .product-details-separator2 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
}
</style>
