<template>
  <div class="property-container" v-bind:class="rootClassName">
    <div class="property-container1">
      <input type="text" :placeholder="textinput_placeholder" class="input" />
      <input type="text" :placeholder="textinput_placeholder1" class="input" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Property',
  props: {
    textinput_placeholder: {
      type: String,
      default: 'propname',
    },
    textinput_placeholder1: {
      type: String,
      default: 'propvalue',
    },
    rootClassName: String,
  },
}
</script>

<style scoped>
.property-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.property-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}

</style>
