
<template>
  <router-view/>
</template>

<script>
const axios = require('axios').default;

export default {
  // name: 'app',
  data () { return {logined: false} },
  watch:{
    $route: {handler(to, from) {
        this.checkLogin()
        if(this.logined){
          if(to.path == "/") {
            this.$router.push(from)
            return
          }
          this.$router.push(to)
        }
        else {
          this.$router.push("/")
        }
    }
  }
  },
  methods: {
    checkLogin() {
            axios.get("/authcheck/")
              .then(response => {
                if(response.status == 200){
                  this.logined = true
                }
                else {
                  this.logined = false
                }
              })
              .catch(error => {
                this.logined = false
            })
        },
  },
  created() {
    this.checkLogin()
    if(this.logined) {
          this.$router.push("/market")
    }
    else {
      this.$router.push("/")
    }
  }
}
</script>